.posts {
  padding: 64px 0;

  .posts-heading {
    
    text-align: center;
    h2 {
      color: #2C2C2C;
      font-family: Inter;
      font-size: 31.667px;
      font-style: normal;
      font-weight: 800;
      line-height: 131.523%;
    }

    p {
      margin: 0 auto;
      max-width: 657.5px;
      color: #2C2C2C;
      text-align: center;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 20.417px;
    }
  }

  .posts-list {
    .post-item { margin-top: 28px;
      .image {
        img {
          border-radius: 6.667px;
          width: 383.333px;
          height: 273.333px;
        }
      }

      .meta {
        display: flex;
        justify-content: space-between;
        margin: 16.27px 0 18.67px;

        li {
          &:first-child {
            a {
              color: #46B20F;
              font-family: Inter;
              font-size: 15px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
            }
          }

          &:last-child {
            color: #a3a3a3;
            font-family: Inter;
            font-size: 15px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            svg {
              float: left;
              margin-right: 10px;
              width: 20px;
              height: 20px;
            }
          }
          

        }
    
      }

      .title {
        margin-bottom: 16.27px;
        color: #2C2C2C;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 26.667px;
      }

      p{
        color: #2C2C2C;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20.417px;  
      }
    }
  }

  .posts-more {
    text-align: center;
    margin-top: 79px;
  }
}

@media screen and (max-width: 991.98px) {
  .posts {
    padding: 30px;

    .posts-heading {
      max-width: 100%;
    }
   
    .posts-list .post-item .image img{
      border-radius: 6.667px;
      width: 325.333px;
      height: 198.333px;
  }
  }
}

@media screen and (max-width: 767.98px) {
  .posts {
    padding: 20px 0;

    .posts-list {
      .post-item {
        margin-bottom: 20px;
      }
    }

    .posts-more {
      margin-top: 30px;
    }

    .posts-list .post-item .image img{
      border-radius: 6.667px;
      width: 272.333px;
      height: 173.333px;
  }
  }
}

@media screen and (max-width: 575.98px) {
  .posts {
    .posts-list {
      .post-item {
        .image {
          img {
            width: 100%;
          }
        }
      }
    }
  }
}
