@import "../../partials/variables";

.products {
  padding: 64px 0;

  h2 {
    text-align: center;
    margin-bottom: 50px;
    color: $textColor;
    font-family: $font;
    font-size: 31.667px;
    font-style: normal;
    font-weight: 800;
    line-height: 131.523%;
  }

  .products-list {
    .product-item {
      margin-top: 114px;
      max-width: 70%;
      text-align: center;
      margin-bottom: 96px;

      .image {
        position: relative;
        img {
          // display: block;
          width: 230.117px;
          height: 230.148px;
        }

        &::before {
          content: "";
          display: block;
          width: 269.316px;
          height: 269.316px;
          background: $secondaryColor;
          border-radius: 50%;
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          z-index: -1;
          translate: 0 -40%;
        }
      }
      .name {
        margin-bottom: 29.48px;
        margin-top: 17.19px;
        color: $textColor;
        text-align: center;
        font-family: $font;
        font-size: 23.333px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        &::after {
          content: "";
          display: block;
          width: 40.833px;
          height: 1.667px;
          background: #a3a3a3;
          margin: 0 auto;
          margin-top: 12.81px;
        }
      }

      .quantity {
        color: #656565;
        margin-bottom: 6.33px;
        font-family: $font;
        font-size: 16.667px;
        font-style: normal;
        font-weight: 400;
        line-height: 21.667px;
      }

      .price {
        margin-bottom: 31px;
        span {
          color: $textColor;
          font-family: $font;
          font-size: 23.333px;
          font-style: normal;
          font-weight: 600;
          line-height: 26.667px;
        }
      }
    }

    [class^="col-"] {
      &:nth-child(3n + 1) {
        .product-item {
          margin-left: auto;
        }
      }

      &:nth-child(3n + 2) {
        .product-item {
          margin-left: auto;
          margin-right: auto;
          .image {
            &::before {
              background: #c5ffa8;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 991.98px) {
  .products {
    padding: 0 0 30px;

    h2 {
      margin: 0 0 20px;
    }

    .products-list {
      .product-item {
        max-width: 100%;
        margin: 0 0 15px;
        .image {
          &::before {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 575.98px) {
  .products {
    .products-list {
      .product-item {
        .name,
        .price span {
          font-size: 1.1rem;
        }
        .image img {
          width: 156.117px;
          height: 139.148px;
        }
        .name {
          a {
            max-height: 88px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2;
            -webkit-box-orient: vertical;
          }
        }

        .add-to-cart {
          .btn {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
