@import "./variables";
.container {
  --container-width: 1200px;
}

.btn {
  padding: 13.333px 11.667px;
  color: #fff;
  font-weight: 700;
  display: inline-block;
  background: $primaryColor;
  border-radius: 6.667px;
  border: 1px solid $primaryColor;

  &.btn-outline-primary {
    padding: 11.667px 21.667px;
    background: white;
    border: 1px solid $primaryColor;
    color: #2c2c2c;
    font-family: Inter;
    font-size: 16.667px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    &:hover {
      color: $primaryColor;
    }
    svg {
      float: right;
      margin-top: -2px;
    }

    svg {
      path {
        fill: #2c2c2c;
      }
    }
  }
}
