  .wrapper {
    text-align: center;
    width: 1200px;
    margin: 0 auto;
  }
  .content-wrap {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    padding-top: 88px;
    justify-content: space-between;
  }
  .content {
    width: 300px;
    height: 350px;
    box-shadow: rgb(163, 163, 163) 1px 1px 10px;
    position: relative;
  }
  h3 {
    padding-top: 30px;
    font-size: 1.5em;
  }
  .icon {
    width: 100px;
    height: 100px;
    border: 1px solid orange;
    color: orange;
    font-size: 40px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%;
    position: relative;
    top: 30px;
  }
  button {
    width: 120px;
    height: 40px;
    margin-top: 15px;
    color: white;
    background-color: orange;
    border: 0;
  }