* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}

img {
  max-width: 100%;
  height: auto;
}

img:hover {
  cursor: pointer;
}

.slider {
  position: relative;
  overflow: hidden;
}

.slider .slider-inner {
  display: flex;
  /* width: 4320px; */
  transition: translate 0.4s ease;
}

.slider .slider-inner .item img {
  width: 100%;
}

/* .slider .slider-inner .item:not(.active) {
  display: none;
} */

.slider .slider-nav span {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  width: 40px;
  height: 40px;
  background: rgba(128, 128, 128, 0.613);
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.slider .slider-nav span.prev {
  left: 10px;
}

.slider .slider-nav span.next {
  right: 10px;
}

.slider .slider-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 15px;
  gap: 10px;
}

.slider .slider-dots span {
  display: block;
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.slider .slider-dots span:hover,
.slider .slider-dots span.active {
  background: goldenrod;
}
