html {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contact-wrapper {
    background: rgb(222, 222, 222);
    display: flex;
    width: 1202px;
    height: 454px;
    margin-left: 40px;
    margin-top: 40px;
  }

/* css khối thẻ li thành block */
li > a {
  text-decoration: none;
  color: rgb(148, 0, 0);
  display: inline-block;
  line-height: 46px;
  padding: 0 30px;
}
li {
    display: inline-block;
    border: 1px solid rgba(73, 5, 115, 0.732);
  }
li:hover a {
  background: rgb(255, 13, 0);
  color: white;
}

.contact-info {
  padding: 30px;
}
.address {
    padding-bottom: 25px;
    font-size: 19px;
    line-height: 29px;
}
.address > span {
  display: block;
}
.tel-fax-email > span {
  display: block;
  padding-bottom: 25px;
  font-size: 19px;
  line-height: 4px;
}
.tel-fax-email > span > a {
  color: brown;
}
.map {
  padding-left: 100px;
}

 