form {
    width: 500px;
}

form > div {
    display: flex;
  }
  form > div > label {
    display: block;
    width: 100px;
    padding-right: 15px;
    padding-bottom: 10px;
    font-weight: bold;
  }
  form > div > input {
    height: 20px;
    width: 35%;
  }
  .single-choice > label {
    display: block;
  }

  .multiple-choice > label{
    display: block;
  }

.button-set{
    text-align: center;
}