body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    text-align: center;
    width: 80%;
    max-width: 600px;
}

h1 {
    font-size: 24px;
    color: #333;
}

.button {
    background-color: red;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: darkred;
}

.output {
    margin-top: 20px;
    font-size: 16px;
    color: #333;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#suggestions ul {
    padding-left: 20px;
    text-align: left;
}

.button:hover {
    background-color: green;
    
}

