
.box{
    width: 200px;
    height: 200px;
    /* border-radius: 20px 30px 40px 50px; */
    /* border-top-left-radius:20px ;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    border-bottom-left-radius:20px; */
    border-radius: 50%;
    background: red;
}

.btn{
    border: 0;
    background: green;
    color: #fff;
    width: 100px;
    height: 30px;
    border-radius: 30px;
}

.btn-large{
    border: 0;
    background: green;
    color: #fff;
    width: 100px;
    height: 140px;
    border-radius: 99px;
    /* test thì thấy 99 tương đương giá trị 50px */
    cursor: pointer;
}
