/* Biến màu chính */
:root {
  --primary-color: #333; /* Màu chính của header */
  --dropdown-bg-color: #f9f9f9; /* Màu nền của dropdown menu */
  --dropdown-text-color: #000; /* Màu chữ trong dropdown menu */
}

h3 {
  color: black;
}

/* Body */
body {
  background-image: url(https://cdn.tgdd.vn/Files/2020/06/08/1261696/moi-tai-bo-hinh-nen-asus-rog-2020-moi-nhat_800x450.jpg);
  background-size: cover;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Header */
header {
  background-color: var(--primary-color);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

/* Logo */
.logo img {
  height: 30px;
  width: auto;
  margin-right: 10px;
}

.logo span {
  font-size: 1.2em;
}

/* Navigation */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Icons */
.icons img {
  height: 20px;
  width: auto;
  margin-left: 10px;
}

.icons a {
  color: #fff;
  text-decoration: none;
}

/* Dropdown Menu */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--dropdown-bg-color);
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 10px;
  z-index: 1;
}

.dropdown-content .column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

.dropdown-content .column a {
  color: var(--dropdown-text-color);
  padding: 5px;
  display: block;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* Dropdown Menu */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--dropdown-bg-color);
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 10px;
  z-index: 1;
  opacity: 0; /* Thêm thuộc tính opacity để tạo hiệu ứng fade in */
  transition: opacity 0.3s ease; /* Thêm transition cho hiệu ứng mượt mà */
}

.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1; /* Khi hover vào dropdown, hiển thị menu và làm mờ */
}


