body {
  background: #ddd;
}

 
.wrapper {
   margin: 150px auto;
  position: relative;
  width: fit-content;
}


nav.main-tabs {
  display: block;
  background: white;
}

.main-tabs .tabs {
  text-align: center;
  font-size: 0;
}

.main-tabs .tabs li {
  display: inline-block;
  text-transform: capitalize;
  font-size: initial;
  padding: 5px;
  background: #fff;
  margin: 1px;
}

.main-tabs .tabs li label {
  display: inline-block;
  padding: 15px;
  transition: 0.3s;
  font-size: 0.9rem;
  cursor: pointer;
  user-select: none;
}

.main-tabs > .tabs > li:hover > label,
input:checked ~ label {
  background: rgb(0, 115, 255);
  color: #fff;
}

.tabs li .tab-content {
  position: absolute;
  text-align: left;
  background: #fff;
  left: 1px;
  right: 1px;
  top: 59px;
  transform-origin: top;
  transition: opacity 0.2s;
  visibility: hidden;
  opacity: 0;
}

.main-tabs .tabs .tab-content h2 {
  margin-top: 20px;
}

.main-tabs .tabs .tab-content p {
  line-height: 1.7;
  padding-bottom: 30px;
}

.main-tabs .tabs .tab-content > * {
  padding-left: 25px;
}

input:checked ~ .tab-content {
  transition: opacity 1s linear;
  animation: flip 1s linear;
  opacity: 1;
  visibility: visible;
}

@keyframes flip {
  from {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(-90deg);
  }
  to {
    transform: rotateX(0deg);
  }
}



